<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" package="fr.pronoschallenge">
	<application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:name=".PronosChallengeApplication" android:theme="@style/Theme.GreenDroid">
		<activity android:label="@string/app_name" android:name="PronosChallengeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
        <activity android:name=".pronos.PronosActivity"/>
	    <activity android:name=".classement.ClassementActivity"/>
        <activity android:name=".gazouillis.GazouillisActivity"/>
        <activity android:name=".gazouillis.GazouilliComposerActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".auth.LoginActivity"/>
        <activity android:name=".profil.ProfilPagedViewActivity"/>
        <activity android:name=".options.OptionsActivity"/>
        <activity android:name=".amis.AmisActivity"/>
        <activity android:name=".amis.ajout.AmisAjoutActivity"/>
        <activity android:name=".classement.club.ClassementClubActivity"/>
        <activity android:name=".stat.match.StatMatchPagedViewActivity"/>
        <activity android:name=".topflop.TopFlopActivity"/>
        <activity android:name=".club.ClubPagedViewActivity"/>
        <activity android:name=".afreechart.AFreeChartAnnotationActivity"/>
        <activity android:name=".stat.saison.StatSaisonActivity"/>        
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
